body{
	background-color:#888888;
}
.kullanıcı{
	float:right;
	margin-top:8px;
	margin-right:20px;
	color:#ffffff;
}
.menualanı{
	background-color:#444444;
	width:900;
	height:80px;
	margin:auto auto auto auto;
	border-radius:5px;
}
.menu{
	float:left;
	margin-left:40px;
	margin-top:10px;
	color:#ffffff;
}
.menu:hover{
	color:#000000;
}
a:link{
	color:#f00;
	text-decoration:none;
}
a:visited{
	color:#f00;
}
.aramaalanı{
	float:right;
	margin-top:8px;
	margin-right:20px;
}
.aramatext{
	width:200px;
}
.kose1 {
	border-radius:20px;
	border:solid 10px;	
	border-color:#ff6666;
	padding:20px;
	width:100px;
	height:20px;
}
ul{
	background:#ff9999;
	padding:20px;
}
ul li {
	background:#ffe5e5;
	padding:5px;
	margin-left:35px;
}
ol {
	background:#3399ff;
	padding:20px;
}
ol li {
	background:#cce5ff;
	padding:5px;
	margin:5px;
}